<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hungpick.dao.IDaoAnswer"> <!-- "<" 는 문법오류나서  "<![CDATA[ < ]]>" 이렇게 해야한다. -->

	
	<resultMap type="answerDto" id="AnswerDtoRm">
	<id column="MEMBER_CODE" property="memberCode"/>
    <id column="QSTN_CODE" property="qstnCode"/>
    <id column="ANSWER_CODE" property="answerCode"/>
    <id column="ADMIN_CODE" property="adminCode"/>
    <result column="ANSWER_CONTENT" property="answerContent"/>
    <result column="ANSWER_DATE" property="answerDate"/>
	</resultMap>
	
	<resultMap type="memberDto" id="memberDtoRm">
	<id column="MEMBER_CODE" property="memberCode"/>
    <result column="MEMBER_ID" property="memberId"/>
    <result column="MEMBER_PW" property="memberPw"/>
    <result column="MEMBER_NAME" property="memberName"/>
    <result column="MEMBER_NICKNAME" property="memberNickname"/>
    <result column="MEMBER_EMAIL" property="memberEmail"/>
    <result column="MEMBER_NUMBER" property="memberNumber"/>
     <result column="MEMBER_DATE" property="memberDate"/>
      <result column="HOLD_POINT" property="holdPoint"/>
	</resultMap>

	<resultMap type="qesDto" id="QuestionRm">
	<id column="Member_Code" property="memberCode"/>
	<id column="QSTN_CODE" property="qstnCode"/>
    <result column="QSTN_TITLE" property="qstnTitle"/>
    <result column="QSTN_CONTENT" property="qstnContent"/>
    <result column="QSTN_DATE" property="qstnDate"/>
    <result column="QSTN_CONFIRM" property="qstnConfirm"/>

	</resultMap>
	
	<resultMap type="adminDto" id="adminDtoRm">
		<id column="ADMIN_CODE" property="adminCode" />
		<result column="ADMIN_ID" property="adminId" />
		<result column="ADMIN_PW" property="adminPw" />
		<result column="ADMIN_NAME" property="adminName" />
	</resultMap>
	
	<resultMap type="answerVo" id="AnswerVoRm">
		<collection property="answerDto" resultMap="AnswerDtoRm"></collection >
        <collection property="qesDto" resultMap="QuestionRm"></collection >
         <collection property="memberDto" resultMap="memberDtoRm"></collection >
         <collection property="adminDto" resultMap="adminDtoRm"></collection>
	</resultMap>
	
	<select id="selectQuestionview" parameterType="String" resultMap="AnswerVoRm">
		SELECT q.MEMBER_CODE, q.QSTN_CODE, q.QSTN_TITLE, q.QSTN_CONTENT, TO_CHAR(q.QSTN_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분"') AS QSTN_DATE,
		q.QSTN_CONFIRM , q.QSTN_IMG,
		A.MEMBER_CODE,A.QSTN_CODE,A.ANSWER_CODE,A.ADMIN_CODE,A.ANSWER_CONTENT,TO_CHAR(A.ANSWER_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분"') AS ANSWER_DATE,
		m.ADMIN_NAME
		FROM QUESTION q
		FULL OUTER JOIN ANSWER A
		ON A.MEMBER_CODE = q.MEMBER_CODE
		join ADMINS m
        on A.admin_Code = m.admin_Code
		WHERE q.MEMBER_CODE = #{ memberCode } 
		AND q.QSTN_CODE = #{ qstnCode }
		AND A.QSTN_CODE = #{ qstnCode }
	</select>	
	
	
	
	
	
	<select id="selectN" resultMap="AnswerVoRm"  parameterType="Criteria">
	 SELECT * FROM (   
		SELECT   ROW_NUMBER() OVER(ORDER BY q.QSTN_CODE DESC)
		NUM, q.MEMBER_CODE, q.QSTN_CODE, q.QSTN_TITLE, q.QSTN_CONTENT, TO_CHAR(q.QSTN_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분"') AS QSTN_DATE,
		q.QSTN_CONFIRM , q.QSTN_IMG,
		M.member_Name FROM QUESTION q 
        join members M
        on q.member_Code = m.member_Code
        WHERE q.QSTN_CONFIRM = '미답변'
        ORDER BY q.QSTN_CODE DESC)  
		WHERE NUM BETWEEN #{ rowStart }
		AND #{ rowEnd } 
		ORDER BY QSTN_CODE DESC 
	</select>
		
	<select id="answerCode" resultType="answerDto">
		SELECT DISTINCT ANSWER_CODE FROM ANSWER   WHERE  ANSWER_CODE = #{answerCode}
	</select>
	
	<update id="updateQCODE" parameterType="qesDto">
		UPDATE ANSWER SET QSTN_CODE =  #{ qstnCode } WHERE MEMBER_CODE = #{ memberCode } AND QSTN_CODE = #{ qstnCode }   
	</update>
	
	
	<insert id="insert" parameterType="answerDto">
		INSERT INTO ANSWER VALUES ( #{memberCode},  #{qstnCode} ,(SELECT NVL(MAX(TO_NUMBER(ANSWER_CODE)),0)+1 FROM ANSWER) , #{ adminCode }, #{ answerContent }, TO_DATE( #{answerDate} ,'YYYY-MM-DD HH24:MI') )
	</insert> 

	<update id="update" parameterType="answerDto">
		UPDATE ANSWER SET ANSWER_CONTENT = #{ answerContent },  ANSWER_DATE = TO_DATE( #{noticeDate} ,'YYYY-MM-DD HH24:MI:SS') 
		WHERE MEMBER_CODE = #{memberCode} AND QSTN_CODE = #{ qstnCode } 
		AND   ANSWER_CODE = #{answerCode} AND ADMIN_CODE = #{adminCode}
	</update>


</mapper>
