<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hungpick.dao.IGifticonExchangeDao">
	
	<insert id="insertGifticonExchange" parameterType="gifticonExchangeDto">
		INSERT INTO gifticon_exchange 
			(
			MEMBER_CODE,
	        GIFTICON_EXCODE,
	        GIFTICON_CODE,
	        GIFTICON_NUMBER,
	        GIFTICON_EXDATE
			)
			VALUES 
			( 
				#{memberCode},
				(SELECT NVL(MAX(TO_NUMBER(GIFTICON_EXCODE)),0)+1 FROM GIFTICON_EXCHANGE WHERE MEMBER_CODE= #{memberCode}),
				#{gifticonCode},
				#{gifticonNumber},
				SYSDATE
		)
	</insert>
	
</mapper>
