<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hungpick.dao.IGifticonDao">

	<!-- 기프티콘 단건 조회 -->
	<select id="sltGifticon" parameterType="string" resultType="gifticonDto">
		SELECT 
			GIFTICON_CODE,
			BRAND_CODE,
			MENU_CODE,
			GIFTICON_NAME,
			GIFTICON_IMG,
			GIFTICON_PRICE, 
			GIFTICON_DATE
		FROM GIFTICON WHERE GIFTICON_CODE = #{gifticonCode}
	</select>
	
	<!-- 기프티콘 다건 조회 -->
	<select id="showGifticon" resultType="gifticonDto">
		SELECT 
			GIFTICON_CODE,
			BRAND_CODE,
			MENU_CODE,
			GIFTICON_NAME,
			GIFTICON_IMG,
			GIFTICON_PRICE, 
			GIFTICON_DATE
		FROM GIFTICON ORDER BY GIFTICON_CODE
	</select>

	<!-- 기프티콘 등록 -->
	<insert id="insertGifticon">
		INSERT INTO GIFTICON 
		(
			GIFTICON_CODE, BRAND_CODE, MENU_CODE, GIFTICON_NAME, GIFTICON_IMG, GIFTICON_PRICE, GIFTICON_DATE
		)
		VALUES 
		(
			(SELECT NVL(MAX(TO_NUMBER(GIFTICON_CODE)),0)+1 FROM GIFTICON),
			#{brandCode},
			#{menuCode},
			#{gifticonName},
			#{gifticonImg},
			#{gifticonPrice},
			SYSDATE
		)
   	</insert>
   	
   	<!-- 기프티콘 수정 -->
   	<update id="updateGifticon">
		UPDATE GIFTICON SET GIFTICON_NAME = #{gifticonName}, GIFTICON_PRICE = #{gifticonPrice}, GIFTICON_IMG = #{gifticonImg} WHERE GIFTICON_CODE = #{gifticonCode} AND BRAND_CODE = #{brandCode} AND MENU_CODE = #{menuCode}  
	</update>
	
	<!-- 기프티콘 삭제 -->
	<delete id="deleteGifticon">
		DELETE FROM GIFTICON WHERE GIFTICON_CODE = #{gifticonCode} AND BRAND_CODE = #{brandCode} AND MENU_CODE = #{menuCode}
	</delete>	
	
	<!-- 기프티콘 조건 조회 (브랜드) -->
	<select id="sltGifticonBrand" resultType="gifticonDto">
		SELECT 
			GIFTICON_CODE,
			BRAND_CODE,
			MENU_CODE,
			GIFTICON_NAME,
			GIFTICON_IMG,
			GIFTICON_PRICE, 
			GIFTICON_DATE
		FROM GIFTICON WHERE BRAND_CODE = #{brandCode}
	</select>
	
	<!-- 기프티콘 조건 조회 (브랜드, 메뉴) -->
	<select id="sltGifticonBrandMenu" resultType="gifticonDto">
		SELECT 
			GIFTICON_CODE,
			BRAND_CODE,
			MENU_CODE,
			GIFTICON_NAME,
			GIFTICON_IMG,
			GIFTICON_PRICE, 
			GIFTICON_DATE
		FROM GIFTICON WHERE BRAND_CODE = #{brandCode} AND MENU_CODE = #{menuCode}
	</select>
	
</mapper>
